* {
  scroll-behavior: smooth;
}
body
{
  overflow-x: hidden;
  background:rgb(17, 17, 17);
}
.content {
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

.ut{
 display:inline-flex;
 justify-content: flex-end;
 padding-right: 20px;
 padding-top: 60px;

}
.header h1{
    margin: auto;
    width: 50%;
    display:inline-flex;
    text-align:center;
    font-size: 70px;
    color:white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: fixed;
  top:0;
  width: 100%;
  display: block;
  height: 100px;
  padding-bottom: 5px;
  box-shadow: 0px 1px 5px grey;
  color: rgb(231, 231, 231);
  z-index: 100;
  padding: 10px;
  background: black;
  text-align: right;
      }
.lo img
{
  filter:invert(90%);
  width:100px;
  height:100px;
  position: absolute;
  top:10px;
  left:30px;
}
.header a {
    color: #0072ff;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 5px;
  }
  .header a:hover {
    color: #d3d3d3;
  }
  .header small {
    color: #666;
  }
.header .active {
  color: white; }